.sidebar-desktop{
    width: 100%;
    max-width: 200px;
    left: 30px;
    position: absolute;
}
.littlepadding{
    padding-left: 54px;
}
.xpadding{
    padding-left: 58px;
    padding-right: 28px;
}
.noborder{
    border: none;
}
/*.positioning{
    position: relative;
    top: 0px;
    bottom: 44px;
    right: 0px;
    left: 210px;
}*/
.newsize{
    height: 92%;
    width: 92%;
    object-fit: cover;
}


.button__outline {
    width: 10.5rem;
    max-width: 10.5rem;
    border: 2px solid #fff;
    border-radius: 1.5625rem;
    font-weight: bold;
    font-size: 0.875rem;
    letter-spacing: 0.0275rem;
    text-align: center;
    padding: 0.875rem 0;
    border-color: #2BD9C7;
    color: #2BD9C7;
}
.font-weight-bold {
    font-weight: 700 !important;
}
.button__outline:hover {
    width: 10.5rem;
    max-width: 10.5rem;
    border: 2px solid #fff;
    border-radius: 1.5625rem;
    font-weight: bold;
    font-size: 0.875rem;
    letter-spacing: 0.0275rem;
    text-align: center;
    padding: 0.875rem 0;
    border-color: #2BD9C7;
    color: #2BD9C7;
}
.hei{
    padding:0 15px 0 15px;
}
.hey{
    border-spacing: 5px;
}
div.blah {
    position:absolute;
    top: 30px; /*[wherever you want it]*/
    left: 20px;; /*[wherever you want it]*/
  }
.cardshadow {
    box-shadow: 0 10px 20px rgba(0,0,0,0.2), 0 6px 6px rgba(0,0,0,0.3);
    border-radius: 3%;
 }
.card-wrapper{
    padding-right: 3px;
    padding-left: 3px;
    margin-top: 8px;
    margin-bottom: 8px;
}
.immagine{
    border-radius: 10px;
}
.larghezza{
    width: 100%; max-width: 100%;
}
.grigio{
    color: #747d8c;
}
.acquamarina{
    color: #2BD9C7;
}
.button-style{
    background-color: #fff;
    border: none;
}
.white{
    background-color: #fff;
}